<div class="reply ml-5">
  <p class="pt-1 pb-0"><span><%= reply.body %></span></p>
  <em  class="pt-1 pb-0"><%= reply.user.email %> - <%= reply.created_at.to_formatted_s(:short) %> (GMT)</em>
</div>
<hr>